#navHeader {
  background-color: rgb(25, 00, 51);
  
}

#headerNav a {
  font-size: 1.1rem;
}

#dataInsiders {
  width: 100%;

}

#mainImg {
  background-image: url("../images/synitiBkgrd.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#overlay {
  background-color: hsla(0,0%,100%,.79);
}

.uk-button-danger {
  background-color: #f44336;
}

.uk-button-danger:hover {
  background-color: #da190b;
}

#dspLogo {
  width: 6rem;
  height: 6rem;
}


@media only screen and (min-width: 1030px) {
  #welcome, #help, #dspLogo {
    display: inline-block;
  }

  #welcome {
    margin-left: 26%;
  }


}
